.map-container {
  width: 100%;
flex:1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
    justify-content: center;
}

.prop-container {
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 3%;
  margin-left: 5px;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1100px) {
  .prop-container {
    width: 375px;
    height: 325px;
    margin-top: 10px;
    margin-bottom: 3%;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 750px) {
  .prop-container {
    width: 300px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 3%;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 608px) {
  .prop-container {
    width: 200px;
    height: 175px;
    margin-top: 10px;
    margin-bottom: 3%;
    margin-left: 5px;
  }
}
