.rpv-page{
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}

.property-info-container{
    display:flex;
    flex-direction: row;
    /* align-content: space-around;   */
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

}

.info-container-rent{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.property-images{
    width: 60%;
    border-radius: 5px;
    align-self: center;
    margin-left: 50px;
}

.prop-img-renter{
    width:80%;
    border-radius: 5px;
}

.general-info-items-prop-renter{
    width: 100%;
    max-width: 250px;
    height: 75px;
    font-size: 10px;
    padding:10px;
    margin-top: 10px;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.general-information{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 15%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.utility-information{
    display: flex;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
}