/* .prop-card{
    width: 200px;
    height: 200px;
} */


.property-preview-button-container{
    max-height: 10%;
    width: 100%;
    position: relative;
    bottom:20%;
    display: flex;
    justify-content: center;
}

.property-preview-buttons{
    background: rgb(214, 225, 214);
    font-size: 50%;
    border-radius: 10%;
    max-width: 40%;
    height: 100%;
    margin-right: 2px

}

.property-preview-links{
    
    text-decoration: none;
    color: black
}

.picture-buttons-properties{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
    color: rgb(28, 36, 32);
    font-size: 40px;
    font-weight: bolder

}


.property-name-preview{
    position: absolute;
    font-size: 15px;
    color:rgb(28, 36, 32);
    top: 8%;
    left: 51%;
    transform: translate(-50%, -50%);
    border:solid 1px rgb(147, 164, 147);
    border-radius: 5px;
    padding: 3px;
}
.property-name-preview:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

/* .img-properties{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width:100%;
    max-width: 700px;
    height: auto;
    height:  250px; 
    display: flex;
    align-items: center
}

.img-properties:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

@media only screen and (max-width: 1100px){
.img-properties{
        width:100%;
        max-width: 375px;
        height: auto;
        max-height:  235px; 
        display: flex;
        align-items: center
    }
}
@media only screen and (max-width: 750px){
    .img-properties{
        width:100%;
        max-width: 300px;
        height: auto;
        max-height:  188px; 
        display: flex;
        align-items: center
    }
}
@media only screen and (max-width: 608px){
    .img-properties{
        width:100%;
        max-width: 200px;
        height: auto;
        max-height:  126px; 
        display: flex;
        align-items: center
    }
} */




